<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>

    <client>
      <endpoint
          name="restservice"
          address="http://10.176.164.150:8080/RestService.svc"
          binding="webHttpBinding"
          contract="RestService.IRestService"
          behaviorConfiguration="restservice" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restservice">
          <webHttp/>
          <clientVia viaUri="http://10.176.164.150:8080/RestService.svc"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>