<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceWGet" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/RestService.svc" behaviorConfiguration="restservice"
        binding="webHttpBinding" contract="RestService.IRestService"
        name="restservice" />
      <endpoint address="http://localhost:8080/ServiceWGet.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceWGet" contract="FormRestService.IServiceWGet"
        name="BasicHttpBinding_IServiceWGet" />
    </client>
   
    <behaviors>
      <endpointBehaviors>
        <behavior name="restservice">
          <webHttp/>
          <!--<clientVia viaUri="http://localhost:8080/RestService.svc"/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>